h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

#header {
    background-color: #FFF9F4;
}

.banner-heading {
    font-size: 80px;
    color: #363958;
    margin-bottom: -20px;
}

.banner-text {
    color: #3E3E3E;
}

.banner-heading span {
    color: #FA804C;
}

.custom-btn{
    background-image: linear-gradient(#3D4FF3
    100%, #3543BC 100%);
}

.card-img{
    background-color: #F1F1F1
    ;
}

.card-title{
    color: #363958
    ;
}

.card-amount{
    color: #FA804C;
}